#parse("ImportsTemplate.vm")
public class ${wrapper.simplifiedClassName}${exporterName} extends ${classToExtend}<$config.currentClassName> {
#parse("FormatterAttributes.vm")

#parse("HeadersTemplate.vm")

#parse("EntriesTemplate.vm")

#parse("ClassNameMethod.vm")

}
