package $wrapper.aPackage;

import io.github.belmomusta.excel.api.csv.AbstractCSVExporter;
import java.util.ArrayList;
import java.util.Collection;
import java.util.List;

import $wrapper.className;

public class ${wrapper.simplifiedClassName}CSVExporter extends AbstractCSVExporter<$wrapper.simplifiedClassName> {

    @Override
    protected Collection<String> getEntries(${wrapper.simplifiedClassName} item) {
        final List<String> cells = new ArrayList<>();
#foreach($pair in $wrapper.correspondanceFieldMethod)
        cells.add(valueOf(item.${pair.method}()));
#end
        return cells;
   }

#if($wrapper.withHeaders)
    @Override
    protected Collection<String> getHeaderEntries() {
        final List<String> headers = new ArrayList<>();
#foreach($header in $wrapper.correspondanceFieldMethod)
        headers.add("${header.name}");
#end
        return headers;
    }
#end

    @Override
    public String getClassName(){
        return ${wrapper.simplifiedClassName}.class.getName();
    }
}