#set($lastIndx = $wrapper.correspondanceFieldMethod.size() - 1)
#set($beforLastIndx = $wrapper.correspondanceFieldMethod.size() - 2)
package $wrapper.aPackage;
#if(!$config.useFQNs)
import $config.fullCurrentClassName;
import $config.abstractExcelMapperFullClassName;
import $config.listFullClassName;
import $config.arraysFullClassName;
#parse("FormatterImports.vm")
#end
public class ${wrapper.simplifiedClassName}ExcelExporter extends $config.abstractExcelMapperClassName<$config.currentClassName> {
#parse("FormatterAttributes.vm")
#if($wrapper.withHeaders)

    @Override
    protected $config.listClassName<String> getHeadersEntries() {
         return ${config.arraysClassName}.asList(
#foreach($i in [0 .. $beforLastIndx])
            "$wrapper.correspondanceFieldMethod.get($i).name",
#end
            "$wrapper.correspondanceFieldMethod.get($lastIndx).name");
    }
#end

    @Override
    protected $config.listClassName<String> getRowEntries($config.currentClassName object) {
        return ${config.arraysClassName}.asList(
#foreach($i in [0 .. $beforLastIndx])
#set($pair = $wrapper.correspondanceFieldMethod.get($i))
#if($pair.formatter)
#set( $formatter = ", ${pair.formatter.instanceName}" )
#else
#set( $formatter = "" )
#end
            valueOf(object.${pair.method}()${formatter}),
#end
#set($pair = $wrapper.correspondanceFieldMethod.get($lastIndx))
#if($pair.formatter)
#set( $formatter = ", ${pair.formatter.instanceName}" )
#else
#set( $formatter = "" )
#end
            valueOf(object.${pair.method}()${formatter}));
    }

#parse("ClassNameMethod.vm")

}
