package $wrapper.aPackage;
#if(!$config.useFQNs)
import $config.fullCurrentClassName;
import $config.abstractExcelMapperFullClassName;
import $config.rowFullClassName;
import $config.sheetFullClassName;
#end

public class ${wrapper.simplifiedClassName}ExcelExporter extends $config.abstractExcelMapperClassName<$config.currentClassName> {
#if($wrapper.withHeaders)

    @Override
    protected void writeHeaders($config.sheetClassName sheet) {
        final $config.rowClassName header = sheet.createRow(0);
#foreach($header in $wrapper.correspondanceFieldMethod)
#if($header.ordered)
        addCellWithValue(header, $header.order, "${header.name}");
#else
        addCellWithValue(header, "${header.name}");
#end
#end
    }
#end

    @Override
    protected void createRows($config.sheetClassName sheet, $config.currentClassName object) {
        final $config.rowClassName excel = sheet.createRow(sheet.getLastRowNum() + 1);
#foreach($pair in $wrapper.correspondanceFieldMethod)
#if($pair.ordered)
        addCellWithValue(excel, $pair.order, valueOf(object.${pair.method}()));
#else
        addCellWithValue(excel, valueOf(object.${pair.method}()));
#end
#end
    }

    @Override
    public $config.stringClassName getClassName(){
        return ${config.currentClassName}.class.getName();
    }

    @Override
    public $config.stringClassName getSimpleClassName(){
        return ${config.currentClassName}.class.getSimpleName();
    }
}
