package $wrapper.aPackage;

public class ${wrapper.simplifiedClassName}ExcelMapper extends io.github.belmomusta.excel.api.export.AbstractExcelMapper<$wrapper.className> {

#if($wrapper.withHeaders)
    @Override
    protected void writeHeaders(org.apache.poi.ss.usermodel.Sheet sheet) {
        final org.apache.poi.ss.usermodel.Row header = sheet.createRow(0);
#foreach($header in $wrapper.correspondanceFieldMethod)
#if($header.ordered)
        addCellWithValue(header, $header.order, "${header.name}");
#else
        addCellWithValue(header, "${header.name}");
#end
#end
    }
#end

    @Override
    protected void createRows(org.apache.poi.ss.usermodel.Sheet sheet, $wrapper.className data) {
        final org.apache.poi.ss.usermodel.Row row = sheet.createRow(sheet.getLastRowNum() + 1);
#foreach($pair in $wrapper.correspondanceFieldMethod)
#if($pair.ordered)
        addCellWithValue(row, $pair.order, valueOf(data.${pair.method}()));
#else
        addCellWithValue(row, valueOf(data.${pair.method}()));
#end
#end
    }

    @Override
    public java.lang.String getClassName(){
        return ${wrapper.className}.class.getName();
    }
}
