#foreach($formatter_ in $wrapper.formatters)
#if(!$config.useFQNs)
#set($formatterClassName=${formatter_.simpleName})
#else
#set($formatterClassName=${formatter_.fullFQN})
#end
    protected final $config.formatterClassName $formatter_.instanceName = new ${formatterClassName}();
#end