#if($!wrapper.aPackage != "")
package $wrapper.aPackage;
#else
    /**
    WARNING
    The class $config.fullCurrentClassName is in the default package
    **/
#end

#if(!$config.useFQNs)
#if($!wrapper.aPackage != "")
import $config.fullCurrentClassName;
#end
import $classToImport;
#parse("FormatterImports.vm")
import $config.listFullClassName;
import $config.arraysFullClassName;

#end
