package $wrapper.aPackage;
import $wrapper.className;
import io.github.belmomusta.excel.importexport.ExcelMapper;
import org.apache.poi.ss.usermodel.Row;
import org.apache.poi.ss.usermodel.Sheet;
import org.apache.poi.xssf.usermodel.XSSFWorkbook;

import java.util.List;
import java.io.File;

public class ${wrapper.simplifiedClassName}ExcelMapper implements ExcelMapper<$wrapper.simplifiedClassName> {
    
    @Override
    public void extractToFile(List<$wrapper.simplifiedClassName> $wrapper.paramName, File destFile) {
        try (XSSFWorkbook workbook = new XSSFWorkbook()) {
            final Sheet sheet = workbook.createSheet("Sheet 0");
            for (int i = 0; i < ${wrapper.paramName}.size(); i++) {
                final $wrapper.simplifiedClassName data = ${wrapper.paramName}.get(i);
                Row row = sheet.createRow(i);
#foreach($pair in $wrapper.correspondanceFieldMethod)
#if($pair.ordered)
                row.createCell($pair.order).setCellValue(String.valueOf(data.${pair.method}()));
#else
                row.createCell(row.getLastCellNum() + 1).setCellValue(String.valueOf(data.${pair.method}()));
#end
#end
             }
        } catch(Exception e){
        
        }
    }
}
